* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: #0f5e2021;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}