* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: #0f5e2021;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* SCROLL BAR THEME */
*::-webkit-scrollbar {
  width: 10px;
  background-color: #131313;
}

*::-webkit-scrollbar-thumb {
  background-color: #008336;
  /* border-radius: 5px; */
}